<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgs3KbgL81l-YIz0b7Y6R14bU5oY8GbPk</string>
	<key>GCM_SENDER_ID</key>
	<string>582151278199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileProj</string>
	<key>PROJECT_ID</key>
	<string>mobile-proj-94c37</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-proj-94c37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582151278199:ios:7574d8df4f428f14af0072</string>
</dict>
</plist>